@import "../variables";

@mixin bg-color($color) {
  background-color: $color;
}

@mixin shadow() {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

@mixin alignCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@mixin text($color) {
  color: $color;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@mixin p($color) {
  @include text($color);
  font-weight: 400;
  font-size: 1.3rem;
  font-style: italic;
  letter-spacing: 1px;
  text-align: left;

  @include Desktop {
    font-size: 1.3rem;
    line-height: 1.2;
  }
  @include Mobile {
    font-size: 1rem;
    line-height: 1.4;
  }
}

@mixin card() {
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  margin: 2rem auto;
  padding: 2rem;
  @include media-xsm {
    padding: 0/5rem;
    margin: 0.5rem auto;
  }
  @include media-sm {
    padding: 1rem;
    margin: 1rem auto;
  }
  @include media-md {
    padding: 1.5rem;
    margin: 1.5rem auto;
  }
}

@mixin sectionTitle() {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid $color-accent;
  @include media-md {
    font-size: 2.5rem;
  }
  @include media-sm {
    font-size: 2rem;
  }
}
@mixin hamburger($top-value: 0) {
  position: absolute;
  top: $top-value;
  width: 2rem;
  height: 4px;
  background-color: $color-secondary;
  transition: all 0.5s ease-in-out;
}

@mixin circle() {
  .single-chart {
    @include alignCenter;
  }

  .circular-chart {
    margin: 2rem;
    max-height: 230px;
    @include media-xsm() {
      margin: 0;
    }
    @include media-sm() {
      margin: 0.5rem;
    }
  }

  .circle-bg {
    fill: none;
    stroke: $color-lighterPrime;
    stroke-linecap: round;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .circular-chart .circle {
    stroke: $color-accent;
  }
  .percentage {
    fill: $color-secondary;
    font-family: sans-serif;
    font-size: 0.4em;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    text-anchor: middle;
  }
}

@mixin skill($columnNumber) {
  grid-column: $columnNumber;
  @include media-lg {
    grid-column: span 4;
    grid-row: $columnNumber;
  }
  & > div.skill-name-logo {
    img {
      grid-row: 1;
      @include media-lg {
        grid-column: 1;
      }
      &.skill-logo {
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
        @include alignCenter;
        width: min-content;
        height: 3rem;
        @include media-lg {
          width: min-content;
          height: 7rem;
        }
      }
    }
  }
  & > div.single-chart {
    grid-row: 2;
    @include media-lg {
      grid-column: 2;
    }
    @include circle;
  }
  & > p {
    grid-row: 3;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
    color: $color-accent;
    text-align: center;
    padding-bottom: 2rem;
    @include media-lg {
      grid-column: 3;
    }
  }
  & > div.Framwork {
    grid-row: 4;

    line-height: 1.5;
    font-size: 1rem;
    line-break: strict;
    font-weight: 400;
    @include media-lg {
      grid-column: 4;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      border-bottom: 1px solid $color-lighterPrime;
    }
  }
}

@mixin media-xsm {
  @media screen and (min-width: 376px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin Mobile {
  @media screen and (min-width: 300px) and (max-width: 992px) {
    @content;
  }
}
@mixin Desktop {
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    @content;
  }
}
