header {
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  & > div.location {
    display: flex;
    align-self: center;
    position: absolute;
    & > p,
    span {
      align-content: center;
      padding-left: 0.3rem;
    }
    span {
      font-weight: 800;
      @include p($color-accent);
      line-height: 20px;
    }
  }
  .menu-nav {
    display: flex;
    align-self: center;
    gap: 2rem;
  }
}

.menu-btn {
  visibility: hidden;
  padding: 1rem;
  align-self: center;
  cursor: pointer;

  &_burger {
    right: 1rem;
    @include hamburger(2rem);

    &::before {
      content: "";
      @include hamburger(-10px);
    }
    &::after {
      content: "";
      @include hamburger(10px);
    }

    &.open {
      -webkit-transform: rotate(720deg);
      transform: rotate(720deg);
      background-color: transparent;

      &::before {
        transform: rotate(45deg) translate(8px, 6px);
      }
      &::after {
        transform: rotate(-45deg) translate(8px, -7px);
        width: 2rem;
      }
    }
  }
  @include media-md {
    visibility: visible;
  }
}

.nav {
  display: flex; // Inline on larger screens
  flex-direction: row;
  justify-content: flex-end;
}

.mask {
  position: relative;
  top: 27px;
  left: -7px;
  content: "";
  background-color: $color-primary;
  width: 7px;
  height: 3px;
  z-index: 300;
}

@include media-md {
  header {
    margin-bottom: 1rem;
  }
  .menu-btn {
    visibility: visible;
  }
  .nav {
    display: none;
    .menu-nav {
      flex-direction: column;
      position: absolute;
      top: 4rem;
      right: 0.5rem;
      background-color: transparent;
      color: $color-secondary;
      width: 20%;
      height: 20%;
      z-index: 200;
      gap: 1rem;
      padding: 1;
    }
    &.open {
      display: flex;
      .menu-nav_item a {
        color: $color-secondary;
        &:hover {
          color: $color-accent;
        }
      }
    }
  }
}
