#about {
  .container {
    padding: 2rem;
  }
}

// grid for skills

.skills-container {
  @include card;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 3rem, 5rem, 90px, auto;
  gap: 1rem;
}
.skill-1 {
  @include skill(1);
}
.skill-2 {
  @include skill(2);
}
.skill-3 {
  @include skill(3);
}
.skill-4 {
  @include skill(4);
}
.skill-5 {
  @include skill(5);
}
.skill-6 {
  @include skill(6);
}
