#about {
  & > div.container {
    & > div.skills-box {
      @include card;
      display: flex;
      gap: 10rem;
      justify-content: start;
      align-items: center;
      margin-top: 1rem;
      flex-direction: row;

      & > div.skill {
        display: flex;
        gap: 10rem;
        & > div.skill-name-logo {
          width: 10rem;
          @include alignCenter;
          img {
            max-height: 65px;
            @include Mobile {
              height: 3rem;
            }
            @include Desktop {
              height: 60px;
            }
          }
          p {
            font-size: 1.7rem;
            @include Mobile {
              font-size: 1.2rem;
            }
          }
        }
        & > div.single-chart {
          max-width: 10rem;
          max-height: 10rem;
          @include circle;
          @include Mobile {
            width: 6rem;
            height: 5rem;
          }
          @include Desktop {
            width: 150px;
            height: 150px;
          }
        }
        @include Mobile {
          gap: 5rem;
        }
      }
      @include Mobile {
        flex-direction: column;
        gap: 1rem;
      }
      & > div.Framwork {
        display: flex;
        flex-direction: column;
        align-items: start;
        & > li {
          padding-right: 1rem;
          text-decoration: none;
          list-style: circle;
          @include p($color-secondary);
        }
        @include Mobile {
          flex-wrap: wrap;
          flex-direction: row;
        }
      }
    }
  }
}

// Flexcards for the skills:

// grid for skills
/*
.skills-container {
  @include card;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 3rem, 5rem, 90px, auto;
  gap: 1rem;
  @include media-lg {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
}
.skill-1 {
  @include skill(1);
}
.skill-2 {
  @include skill(2);
}
.skill-3 {
  @include skill(3);
}
.skill-4 {
  @include skill(4);
}
.skill-5 {
  @include skill(5);
}
.skill-6 {
  @include skill(6);
}
  */
