#contact {
  box-sizing: border-box;
  & > div.container {
    & form {
      @include card;
      background: $color-lighterPrime;
      & > div.form-group {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        & > div.col-label {
          flex: 0 0 25%;
          margin-top: 1rem;
          @include media-sm {
            flex: 0 0 100%;
            margin-top: 0;
          }
          & label {
            @include p($color-primary);

            padding: 1rem 1rem 1rem 0;
          }
        }
        & > div.col-input {
          flex: 0 0 75%;
          margin-top: 1rem;

          @include media-sm {
            flex: 0 0 100%;
            margin-top: 0;
          }
          & input,
          textarea {
            width: 100%;
            padding: 0.7rem;
            border: 2px solid $color-lighterPrime;
            border-radius: 8px;
            resize: vertical;
            &:hover {
              border: 2px solid $color-accent;
            }
          }
          & textarea {
            height: 10rem;
          }
          & input,
          textarea {
            &:focus {
              outline: none;
              border: 3px solid $color-primary;
            }
          }
        }
        & > div {
          flex: 0 0 25%;
          @include media-sm {
            flex: 0 0 100%;
          }
        }

        & button {
          background-color: $color-lighterPrime;
          text-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
          color: white;
          font-size: 1.5rem;
          letter-spacing: 2px;
          padding: 1rem 2rem;
          border: 1px solid white;
          border-radius: 1rem;
          cursor: pointer;
          margin-top: 1rem;
          flex: 0 0 75%;
          justify-content: end;
          &:hover {
            border: 1px solid $color-accent;
            color: $color-accent;
            background-color: $color-primary;
          }
          @include media-sm {
            flex: 0 0 100%;
          }
        }
      }

      & > div.form-group::after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}
