header {
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  & > div.location {
    display: flex;
    align-self: center;
    position: absolute;

    & > p,
    span {
      align-content: center;
      padding-left: 0.3rem;
    }
    span {
      font-weight: 800;
      @include p($color-accent);
    }
  }
  .menu-nav {
    display: flex;
    align-self: center;
    gap: 2rem;

    & > li a {
      @include p($color-secondary);
      &:hover {
        color: $color-accent;
      }
      &.active {
        color: $color-accent;
      }
    }
    @include Mobile {
      gap: 1rem;
    }
  }
}
.menu-btn {
  visibility: hidden;
  padding: 1rem;
  align-self: center;
  z-index: 300;
  cursor: pointer;

  &_burger {
    right: 1rem;
    @include hamburger(2rem);

    &::before {
      content: "";
      @include hamburger(-10px);
    }
    &::after {
      content: "";
      @include hamburger(10px);
    }

    &.open {
      -webkit-transform: rotate(720deg);
      transform: rotate(720deg);
      background-color: transparent;

      &::before {
        transform: rotate(45deg) translate(8px, 6px);
      }
      &::after {
        transform: rotate(-45deg) translate(8px, -7px);
        width: 2rem;
      }
    }
  }
  @include Mobile {
    visibility: visible;
  }
}

.nav {
  display: flex; // Inline on larger screens
  flex-direction: row;
  justify-content: flex-end;
}

.mask {
  position: relative;
  top: 27px;
  left: -7px;
  content: "";
  background-color: $color-primary;
  width: 7px;
  height: 3px;
  z-index: 300;
}

@include Mobile {
  #header {
    margin-bottom: 1rem;
  }
  .menu-btn {
    visibility: visible;
  }
  .nav {
    position: relative;
    .menu-nav {
      display: none;
      flex-direction: column;
      top: -0.5rem;
      right: -1rem;
      background-color: $color-lighterPrime;
      color: $color-secondary;
      position: absolute;

      border-radius: 1rem;
      @include shadow;
      gap: 1rem;
      padding: 2rem;
      &.open {
        display: flex;
      }
    }
  }
}
