#projects {
  & > div.container > div.slide-containered {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    & > div.slide-card {
      display: block;
      @include card;
      background-color: $color-lighterPrime;
      width: 100%;
      & h3 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 3rem;
        margin-top: 1rem;
        text-align: center;
        color: $color-primary;
        @include Desktop {
          font-size: 2.2rem;
          margin-bottom: 2rem;
        }
        @include Mobile {
          font-size: 1.7rem;
          margin-bottom: 1rem;
        }
      }
      & img {
        width: 100%;
        height: 100%;
        opacity: 0.9;
        object-fit: cover;
        margin-bottom: 2rem;
        @include shadow;
      }
      & > div.slide-card_content {
        & > div.viewBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          width: 80%;
          margin: 1rem auto;
          min-width: 100px;
          gap: 1rem;
          border-radius: 1rem;
          border: 1px solid $color-accent;
          background-color: $color-primary;
          color: $color-accent;
          @include shadow;

          &:hover {
            color: $color-secondary;
            border: 1px solid $color-secondary;
            & > a {
              color: $color-secondary;
            }
          }
          & > a {
            color: $color-accent;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 1px;
          }
          & > i {
            vertical-align: middle;
            font-size: 2rem;
          }
          @include Mobile {
            width: 60%;
          }
        }
      }
    }
    & > div.arrows {
      position: absolute;
      bottom: -3.5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      & > a {
        cursor: pointer;
        background-color: $color-primary;
        color: $color-accent;
        border: 2px solid $color-accent;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        padding: 1rem;
        font-size: 1.5rem;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include shadow;
        &:hover {
          background-color: $color-accent;
          color: $color-primary;
        }
      }
    }
  }

  /* The dots/bullets/indicators */
  & span.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &:hover {
      background-color: $color-accent;
    }
    &.active {
      background-color: $color-accent;
    }
  }
}
